body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

h1{
    padding-bottom: 15px;
    font-size: 3.5rem;
    font-family: "Montserrat-Black";
    line-height: 4rem;
  }
  h2{
    font-size: 3rem;
    padding-bottom: 15px;
    font-family: "Montserrat-Black";
    font-weight: bold;
    line-height: 3rem;
    color: #ffff;
  }
  h3{
    font-size: 3rem;
    font-family: "Montserrat-bold";
    color: black;
  }

p {
    color: black;
  }

  a{
    margin: 10% 2%;
  }

  .big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
  }
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
.colored-section {
    background-color: #ff4c68;
    color: #fff;
    position: relative;

  }
  /*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}


.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.container-fluid{
    padding: 7% 15%;
  }
.nav-sec{
  color: #fff;

}

.navbar-toggler{
  color: #fff;
}
.nav-item{
  padding: 0 20px;

}
.nav-link{
  font-size: 1.3rem;
  font-family: "Montserrat-Light";
}

/*<---Title section*---->*/
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}
.download-button {
  margin: 5% 3% 5% 0;
}
/*---Title immage*---*/
.title-image{
  position: relative;
  left: 30%;
  top: 35%;
  transform: rotate(25deg);
  width: 60%;
}


/*features section*/
#features{
  text-align: center;
  margin-top: 0rem;
  padding: 7% 12%;
  background-color:#fff ;
}
#features {
  position: relative;
}

#features .col-lg-4 {
  padding: 5%;
}

#features i {
  color: #ef8172;
  margin-bottom: 1rem;
}

#features i:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

.fa-solid{
  color: #cf8172;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.fa-solid:hover{
  color: #ff4c68;
}
/*<-- Testimonials -->*/

#testimonials{
  text-align: center;
  background-color: #cf8172;

}
.testimonials-img{
  border-radius: 100%;
  padding:20px;
}

.carousel{
  padding: 7% 15%;
}
#press{
  background-color:#cf8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 20%;
  padding: 25px 25px 60px;

}

/* <---Pricing section ---> */


#pricing{
  padding: 100px;
  background-color: #ff4c68;
}
.pricing-column{
  padding: 3% 2%;
  text-align: center;
}
.price-tag{
  color: black;
  font-family:"Montserrat-Black";
}
#cta{
  background-color: #ff4c68;
  padding: 15%;
  text-align: center;
}

#footer{
  text-align: center;
}
#footer i {
  padding: 0.8%;
}
.copyright {
  font-size: 0.8rem;
  padding-top: 5px;
}
@media (max-width:767px){
  #features {
    position: static;
  }
  .title-image{
    position: static;
    left: 50%;
    top: 35%;
    transform: rotate(0);
    width: 60%;
    padding: 16px;
  }
}
#title{
  text-align: center;
}

